scenario_name: "pony_data"

local_data {
  data_dir: "/unsullied/sharefs/hqz/shared/hw/pony_data/perception_project/20171229_nanian_130255/select/VelodyneDevice32c"
  label_dir: "/unsullied/sharefs/hqz/shared/hw/pony_data/perception_project/20171229_nanian_130255/label/VelodyneDevice32c"
  camera_dir: "/unsullied/sharefs/hqz/shared/hw/pony_data/perception_project/20171229_nanian_130255/select/GigECameraDeviceWideAngle"
}

